<div class="component__inner m-accordion__inner" role="region" aria-label="{{_globals._components._accordion.ariaRegion}}">

  {{> component this}}

  <div class="component__widget m-accordion__widget">

    {{#each _items}}
    <div class="m-accordion__item{{#if _classes}} {{_classes}}{{/if}}" data-index="{{_index}}">

      <button class="m-accordion__item-title js-toggle-item is-closed{{#if _isVisited}} is-visited{{/if}}" aria-expanded="false" aria-label="{{{a11y_normalize title}}}">
        <div class="m-accordion__item-title-inner">

          <div class="m-accordion__item-title-icon">
            <div class="icon"></div>
          </div>

          <div class="m-accordion__item-title-text">
            <div class="m-accordion__item-title-text-inner">
              {{{title}}}
            </div>
          </div>

        </div>
      </button>

      <div class="m-accordion__item-body">
        <div class="m-accordion__item-body-inner">

          <div class="m-accordion__item-text">
            <div class="m-accordion__item-text-inner">
              {{{a11y_text body}}}
            </div>
          </div>

          {{#if _graphic.src}}
          <div class="m-accordion__item-image-container">

            {{#if _graphic.alt}}
            <img class="m-accordion__item-image" src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0">
            {{else}}
            <img class="m-accordion__item-image a11y-ignore" src="{{_graphic.src}}" aria-hidden="true" tabindex="-1">
            {{/if}}

            {{#if _graphic.attribution}}
            <div class="m-accordion__attribution">
              <div class="m-accordion__attribution-inner">
                {{{_graphic.attribution}}}
              </div>
            </div>
            {{/if}}

          </div>
          {{/if}}

        </div>
      </div>

    </div>
    {{/each}}

  </div>

</div>
